{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smile Dental Care</title>
    <link rel="shortcut icon" href="{% static 'images/happy.png'%}">
    <link rel="stylesheet" href="{% static  'css/intro.css' %}">
</head>

<body>
    <div class="root">
        <span class="icon"></span>
        <h1 class="company-name"><Span class="smile">Smile</Span> Dental Care</h1>
        <p class="slogan">Bringing <span class="life">Life</span> To Your <span class="smile">Smile</span></p>
        <p class="developer">Developed by : <span class="developer-name"> Nikhil Thakur</span> </p>
    </div>

</body>

</html>